@use "modules/colors" as *;
@use "modules" as *;

.banner {
  text-align: center;
  padding: 1em;
  background-color: $accent-dark;
  background-image: url("../imgs/banner-bg.jpg");
  background-image: image-set(
    url("../srcset-imgs/banner-bg400w.jpg") 1x,
    url("../srcset-imgs/banner-bg700w.jpg") 2x,
    url("../srcset-imgs/banner-bg900w.jpg") 3x,
    url("../srcset-imgs/banner-bg1920w.jpg") 4x
  );
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-blend-mode: darken;
  display: flex;
  justify-content: center;
  align-items: start;
  color: $light;
  text-shadow:
    2px -3px 1px $dark,
    2px 2px 1px $accent;
  overflow: hidden;
}

.banner-title {
  padding-top: 1rem;
  padding-bottom: 2rem;
  opacity: 0.7;
  font-size: 2.5rem;
  letter-spacing: 2px;
  line-height: 1.4;
  border: 0;
  font-family: "Notable", sans-serif;
}

@media (min-width: 800px) {
  .banner {
    font-size: 80px;
    line-height: 5;
    letter-spacing: 5px;
  }
}

.cta h1 {
  border: 0;
}

.cta-content {
  min-height: 25em;
  background-image: url("../imgs/los-angeles.jpg");
  background-image: image-set(
    url("../srcset-imgs/los-angeles400w.jpg") 1x,
    url("../srcset-imgs/los-angeles700w.jpg") 2x,
    url("../srcset-imgs/los-angeles900w.jpg") 3x,
    url("../srcset-imgs/los-angeles1920w.jpg") 4x
  );
  background-size: cover;
  background-position: center center;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.dark-mode .cta-content {
  text-shadow: 2px 2px 3px $dark;
  text-transform: none;
}

.date-location {
  color: $light;
  text-shadow: 2px 2px 3px $dark;
  line-height: 1.3;
  text-transform: none;
  font-size: 1.2rem;
}

.register-btn {
  margin-top: 2em;
  border: 2px solid $accent;
  padding: 0.6em 1.8em;
  background: $accent-dark;
  color: $light;
  border-radius: 3px;
  font-size: 1rem;
}

.register-btn a {
  padding: 20px 24px;
}

.register-btn:hover,
.register-btn:focus {
  background: $light;
  color: $dark;
  font-weight: bold;
}

.testimony {
  padding-bottom: 3.5em;
}

.about {
  background: $accent-dark;
  color: $light;
}

.about h1,
.testimony h1 {
  padding-top: 0.5em;
}

.about p {
  line-height: 1.5;
  font-weight: normal;
}

.about-img {
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 0.5em;
}

@media (min-width: 700px) {
  .about-img {
    width: 80%;
  }
}

.about-grp1,
.about-grp2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.soar-about-title {
  margin-top: 2.75rem;
}

.newsletter {
  background: $accent;
  text-align: center;
  padding: 4rem;
}

.newsletter-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsletter-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #16120e;
  text-shadow: 1px 1px 1px $light;
  text-align: center;
}

.newsletter p {
  color: #33291f;
}

.mail-btn {
  background: $accent-dark;
  border: 1px solid $accent-blue;
  color: $light;
  padding: 0.75em 1.75em;
  margin-top: 0.5em;
  font-size: 1rem;
}

.mail-btn:hover,
.mail-btn:focus {
  background: $accent-blue;
  border: 1px solid $accent-dark;
}

.card {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $light;
  background: $dark;
  border: 1px solid $accent-blue;
  font-size: 18px;
  font-weight: normal;
  max-width: 25em;
  margin: 0 auto;
}

.dark-mode .card {
  background: $light;
  color: $dark;
  font-weight: bold;
}

.card-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

.card p {
  line-height: 1.3;
  margin-bottom: 0;
}

.testimony-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4em;
  margin: 1.5em auto 0 auto;
}

@media (min-width: 750px) {
  .testimony-box {
    gap: 0.75em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: stretch;
    justify-content: center;
  }
  .card {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 900px) {
  .testimony-box {
    width: 90%;
    gap: 1em;
  }
  .card {
    max-width: 17em;
  }
}

footer {
  text-align: center;
  padding: 1em;
  background: $accent-dark;
  color: $light;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.footer-logo {
  font-family: "notable", sans-serif;
  font-size: 30px;
}

.footer-title {
  padding-top: 1em;
}

.contact {
  font-size: 16px;
  padding-top: 1.5em;
  line-height: 1.5;
}

.copyright {
  font-size: 12px;
  font-weight: normal;
  padding-top: 3em;
  line-height: 1.4;
}

.social-link {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding-top: 0.5rem;
}

@media (min-width: 900px) {
  .about-grp1 {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-evenly;
    align-items: stretch;
    padding-top: 10px;
  }

  .about-grp1 p {
    line-height: 1.7;
  }

  .about-grp1 .about-img,
  .about-grp2 .about-img {
    width: 50%;
    object-fit: cover;
    margin: 0 auto;
  }

  .about-grp2 {
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 1em;
  }

  .p-about-grp2 {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    gap: 0;
  }
  .p-about-grp2 > p {
    line-height: 1.5;
    padding: 0;
    margin: 0;
  }
  .p-about-grp2 p:first-child {
    padding-bottom: 10px;
  }
}
